.sinopse {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__content {
        img {
            max-width: 100%;
            border-radius: 8px;
        }
        
    }
    
    &__text {
        margin-top: 0;
        margin-left: 40px;
    }
}